@model tufol.Models.CostCenterModel;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Threading;

@inject IViewLocalizer Localizer;
@{
    var culture = Thread.CurrentThread.CurrentCulture.Name;
    var data = ViewBag.DataCc;
    var cc_id = data.cc_id != null ? data.cc_id : null; 
}
<!--begin::Main Content-->

<div class="card-body">
        <table class="table table-borderless"> 
            <tr>
                <th width="30%">@Localizer["CostCenterId"]</th>
                <td>
                    <div class="input-group">
                        @if(!string.IsNullOrEmpty(ViewBag.controller)){
                        <input type="text" class="form-control" placeholder='@Localizer["PlaceholderCostCenterId"]' asp-for="cc_id" name="cc_id" maxlength="10" value="@data.cc_id" readonly />
                        } else {
                        <input type="text" class="form-control" placeholder='@Localizer["PlaceholderCostCenterId"]' asp-for="cc_id" name="cc_id" maxlength="10" value="@data.cc_id" />
                        }
                    </div>
                    <span class="text-danger" asp-validation-for="cc_id"></span>
                </td>
            </tr>
            <tr>
           <tr>
                <th width="30%">@Localizer["Description"]</th>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder='@Localizer["PlaceholderDescription"]' asp-for="description" name="description" maxlength="100" value="@data.description" />
                    </div>
                    <span class="text-danger" asp-validation-for="description"></span>
                </td>
            </tr>
        </table>
</div>
<div class="card-footer text-center">
    <div class="row">
        <div class="col-lg-12 text-center">
            <button type="submit" class="btn btn-primary mr-2">@Localizer["Save"]</button>
            <a href='@ViewData["returnUrl"]'><button type="button" class="btn btn-secondary">@Localizer["Back"]</button></a>
        </div>
    </div>
</div>
<!--end::Main Content-->

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/apps/form_cost_center.js?v=1.0.0"></script>
}