@model Dictionary<string, string>
<div class="row" style="justify-content: center;">
  <div class="col-lg-3 mb-5">
    <div class="card card-custom border border-dark">
      <div class="card-body">
        <span class="svg-icon svg-icon-3x svg-icon-success"><!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Group.svg-->
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <polygon points="0 0 24 0 24 24 0 24"></polygon>
          <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
          <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"></path>
        </g></svg> <!--end::Svg Icon--></span> <span class="text-dark font-weight-bolder font-size-h2 mt-3 pt-3 pl-3">@Model["pending_vendor"]</span>
        <div>
          <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1">Pending Vendor</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-5">
    <div class="card card-custom border border-dark">
      <div class="card-body">
        <span class="svg-icon svg-icon-3x svg-icon-success"><!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Group.svg-->
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <polygon points="0 0 24 0 24 24 0 24"></polygon>
          <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
          <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"></path>
        </g></svg> <!--end::Svg Icon--></span> <span class="text-dark font-weight-bolder font-size-h2 mt-3 pt-3 pl-3">@Model["active_vendor"]</span>
        <div>
          <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1">Registered Vendor</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 mb-5">
    <div class="card card-custom border border-dark">
      <div class="card-body">
        <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo2/dist/../src/media/svg/icons/Media/Playlist2.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <rect x="0" y="0" width="24" height="24"></rect>
          <path d="M11.5,5 L18.5,5 C19.3284271,5 20,5.67157288 20,6.5 C20,7.32842712 19.3284271,8 18.5,8 L11.5,8 C10.6715729,8 10,7.32842712 10,6.5 C10,5.67157288 10.6715729,5 11.5,5 Z M5.5,17 L18.5,17 C19.3284271,17 20,17.6715729 20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 C4,17.6715729 4.67157288,17 5.5,17 Z M5.5,11 L18.5,11 C19.3284271,11 20,11.6715729 20,12.5 C20,13.3284271 19.3284271,14 18.5,14 L5.5,14 C4.67157288,14 4,13.3284271 4,12.5 C4,11.6715729 4.67157288,11 5.5,11 Z" fill="#000000" opacity="0.3"></path>
          <path d="M4.82866499,9.40751652 L7.70335558,6.90006821 C7.91145727,6.71855155 7.9330087,6.40270347 7.75149204,6.19460178 C7.73690043,6.17787308 7.72121098,6.16213467 7.70452782,6.14749103 L4.82983723,3.6242308 C4.62230202,3.44206673 4.30638833,3.4626341 4.12422426,3.67016931 C4.04415337,3.76139218 4,3.87862714 4,4.00000654 L4,9.03071508 C4,9.30685745 4.22385763,9.53071508 4.5,9.53071508 C4.62084305,9.53071508 4.73759731,9.48695028 4.82866499,9.40751652 Z" fill="#000000"></path>
        </g></svg><!--end::Svg Icon--></span> <span class="text-dark font-weight-bolder font-size-h2 mt-3 pt-3 pl-3">@Model["sent_ticket"]</span>
        <div>
          <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1">Ticket Submitted</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-5">
    <div class="card card-custom border border-dark">
      <div class="card-body">
        <span class="text-dark font-weight-bolder font-size-h2 mt-3 pt-3 pl-3">@Model["received_ticket"]</span>
        <div>
          <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1">Ticket Received</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-5">
    <div class="card card-custom border border-dark">
      <div class="card-body">
        <span class="text-dark font-weight-bolder font-size-h2 mt-3 pt-3 pl-3">@Model["approve_payment_ticket"]</span>
        <div>
          <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1">Waiting For Payment</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-5">
    <div class="card card-custom border border-dark">
      <div class="card-body">
        <span class="text-dark font-weight-bolder font-size-h2 mt-3 pt-3 pl-3">@Model["rejected_by_tax_ticket"]</span>
        <div>
          <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1">Rejected By Tax</a>
        </div>
      </div>
    </div>
  </div>
</div>

