@model Dictionary<string, string>

<div class="row">
  @if(ViewBag.EditVendor) {
    <div class="col-12">
      <div class="alert alert-custom alert-notice alert-light-warning fade show" role="alert">
          <div class="alert-icon"><i class="flaticon-warning"></i></div>
          <div class="alert-text">Please update your vendor data! <a asp-controller="ChangeVendor" asp-action="Index">Click here</a> to update vendor data</div>
          <div class="alert-close">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true"><i class="ki ki-close"></i></span>
              </button>
          </div>
      </div>
    </div>
  }
  <div class="col-lg-4 mb-5">
    <div class="card card-custom border border-dark">
      <div class="card-body">
        <i class="icon-2x text-dark-50 flaticon2-paper"></i>
        <span class="text-dark font-weight-bolder font-size-h2 mt-3 pt-3 pl-3">@Model["draft_ticket"]</span> 
        <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1 pl-3">Draft</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-5">
    <div class="card card-custom border border-dark">
      <div class="card-body">
        <i class="icon-2x text-dark-50 flaticon2-paper"></i>
        <span class="text-dark font-weight-bolder font-size-h2 mt-3 pt-3 pl-3">@Model["confirm_proc_ticket"]</span> 
        <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1 pl-3">Confirmation To Procurement</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-5">
    <div class="card card-custom border border-dark">
      <div class="card-body">
        <i class="icon-2x text-dark-50 flaticon2-paper"></i>
        <span class="text-dark font-weight-bolder font-size-h2 mt-3 pt-3 pl-3">@Model["sent_ticket"]</span> 
        <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1 pl-3">Ticket Sent</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 mb-5">
    <div class="card card-custom border border-dark">
      <div class="card-body">
        <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo2/dist/../src/media/svg/icons/Media/Playlist2.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <rect x="0" y="0" width="24" height="24"></rect>
          <path d="M11.5,5 L18.5,5 C19.3284271,5 20,5.67157288 20,6.5 C20,7.32842712 19.3284271,8 18.5,8 L11.5,8 C10.6715729,8 10,7.32842712 10,6.5 C10,5.67157288 10.6715729,5 11.5,5 Z M5.5,17 L18.5,17 C19.3284271,17 20,17.6715729 20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 C4,17.6715729 4.67157288,17 5.5,17 Z M5.5,11 L18.5,11 C19.3284271,11 20,11.6715729 20,12.5 C20,13.3284271 19.3284271,14 18.5,14 L5.5,14 C4.67157288,14 4,13.3284271 4,12.5 C4,11.6715729 4.67157288,11 5.5,11 Z" fill="#000000" opacity="0.3"></path>
          <path d="M4.82866499,9.40751652 L7.70335558,6.90006821 C7.91145727,6.71855155 7.9330087,6.40270347 7.75149204,6.19460178 C7.73690043,6.17787308 7.72121098,6.16213467 7.70452782,6.14749103 L4.82983723,3.6242308 C4.62230202,3.44206673 4.30638833,3.4626341 4.12422426,3.67016931 C4.04415337,3.76139218 4,3.87862714 4,4.00000654 L4,9.03071508 C4,9.30685745 4.22385763,9.53071508 4.5,9.53071508 C4.62084305,9.53071508 4.73759731,9.48695028 4.82866499,9.40751652 Z" fill="#000000"></path>
        </g></svg><!--end::Svg Icon--></span> 
        <span class="text-dark font-weight-bolder font-size-h2 mt-3 pt-3 pl-3">@Model["received_ticket"]</span>
        <div>
          <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1">Ticket Received</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-5">
    <div class="card card-custom border border-dark">
      <div class="card-body">
        <i class="icon-2x text-dark-50 flaticon2-paper"></i>
        <span class="text-dark font-weight-bolder font-size-h2 mt-3 pt-3 pl-3">@Model["approve_payment_ticket"]</span>
        <div>
          <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1">Approved For Payment</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-5">
    <div class="card card-custom border border-dark">
      <div class="card-body">
        <i class="icon-2x text-dark-50 flaticon2-paper"></i>
        <span class="text-dark font-weight-bolder font-size-h2 mt-3 pt-3 pl-3">@Model["paid_ticket"]</span>
        <div>
          <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1">Paid</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-5">
    <div class="card card-custom border border-dark">
      <div class="card-body">
        <i class="icon-2x text-dark-50 flaticon2-paper"></i>
        <span class="text-dark font-weight-bolder font-size-h2 mt-3 pt-3 pl-3">@Model["reject_ticket"]</span>
        <div>
          <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1">Rejected</a>
        </div>
      </div>
    </div>
  </div>
</div>

@* <script>
  alert("@Model["foo"]")
</script> *@