@using System;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;
@using Microsoft.Extensions.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;

@* @inject IStringLocalizer<> Localizer *@
@inject IViewLocalizer Localizer
@* @inject IHtmlLocalizer<SharedResource> HtmlLocalizer *@
@* @inject IOptions<RequestLocalizationOptions> LocOptions *@

@using System.Threading;

@{
    Layout = "";
    ViewData["Title"] = ViewBag.controller == "Revision" ? @Localizer["TitleRevision"] : @Localizer["Title"];
    var culture = "/" + Thread.CurrentThread.CurrentCulture.Name + "/";
}

<!DOCTYPE html>
<html lang="en">
	<!--begin::Head-->
	<head>
		<meta charset="utf-8" />
		<title> Tufol</title>
		<meta name="description" content="Updates and statistics" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Custom Styles(used by this page)-->
		<link href="~/css/pages/login/login-2.css?v=7.0.4" rel="stylesheet" type="text/css" />
		<!--end::Page Custom Styles-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="~/plugins/custom/fullcalendar/fullcalendar.bundle.css?v=7.0.4" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="~/plugins/global/plugins.bundle.css?v=7.0.4" rel="stylesheet" type="text/css" />
		<link href="~/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.4" rel="stylesheet" type="text/css" />
		<link href="~/css/style.bundle.home.min.css?v=7.0.4" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="~/favicon.ico" />
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading" style="background-color: #00C4B3;">
		<!--begin::Main-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					<!--begin::Content-->
					<div class="d-flex flex-column flex-root">
						<!--begin::Login-->
						<div class="login login-3 login-signin-on d-flex flex-row-fluid" id="kt_login">
							<div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid">
								<div class="login-form text-center text-white p-7 position-relative overflow-hidden">
									<!--begin::Login Header-->
									<div class="mb-15">
									
										<a asp-action="Index" asp-controller="Home"><img alt="Logo" src="~/media/images/logo-indesso-white.png" class="logo-default max-h-80px" /></a>
									</div>
									<!--end::Login Header-->
									<!--begin::Login Sign in form-->
									<div class="login-signin">
										<div class="mb-20">
											<!-- <h3>Login Vendor</h3> -->
											<p class="font-weight-bolder font-size-h2-md font-size-lg text-white">Selamat Datang di PT INDESSO</p>
											<p class="ffont-size-h2-md font-size-lg text-white opacity-70">Online Invoice Exchange application for all Indesso Vendors</p>
										</div>
										<form method="POST" asp-controller="Home" asp-action="RequestResetPassword" class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate" id="kt_login_signin_form">
											<div class="form-group fv-plugins-icon-container">
												<input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5" type="text" placeholder="Username/Email" name="username" autocomplete="off">
											<div class="fv-plugins-message-container"></div></div>
											<div class="form-group text-center mt-10">
												<button id="kt_login_signin_submit" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3">Reset Password</button>
											</div>
										<input type="hidden"><div></div></form>
										<div class="mt-10">
											<span class="opacity-70">Belum terdaftar?</span>
											<a asp-controller="Home" asp-action="RegistrationForm"  id="kt_login_signup" class="text-white font-weight-bold">Daftar Sekarang</a>
										</div>
									</div>
									<!--end::Login Sign in form-->
								</div>
							</div>
						</div>
						<!--end::Login-->
					</div>
					<!--end::Content-->
					<!--begin::Footer-->
					<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
						<!--begin::Container-->
						<div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
							<!--begin::Copyright-->
							<div class="text-white order-2 order-md-1">
								<span class="text-muted font-weight-bold mr-2">2021©</span>
								<a href='#' target="_blank" class="text-white text-hover-primary">Indesso</a>
							</div>
							<!--end::Copyright-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
		<script>var HOST_URL = "https://keenthemes.com/metronic/tools/preview";</script>
		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="~/plugins/global/plugins.bundle.js?v=7.0.4"></script>
		<script src="~/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.4"></script>
		<script src="~/js/scripts.bundle.js?v=7.0.4"></script>
		<!--end::Global Theme Bundle-->
		<!--begin::Page Vendors(used by this page)-->
		<script src="~/plugins/custom/fullcalendar/fullcalendar.bundle.js?v=7.0.4"></script>
		<!--end::Page Vendors-->
		<script src="~/js/pages/custom/login/login-general.js?v=7.0.5"></script>
		<!--begin::Page Scripts(used by this page)-->
		<script src="~/js/pages/widgets.js?v=7.0.4"></script>
		<!--end::Page Scripts-->
    
		@section Scripts{
    	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
		}


		<script type="text/javascript">
		var valid_username = '@Localizer["ValidUsername"]';
		var valid_password = '@Localizer["ValidPassword"]';
		let error = "@ViewBag.error"
		if (error) {
			swal.fire({
				text: error,
				icon: "error",
				buttonsStyling: false,
				confirmButtonText: "Ok!",
				customClass: {
					confirmButton: "btn font-weight-bold btn-light-primary"
				}
			}).then(function() {
			KTUtil.scrollTop();
			});
		}

		let success = "@ViewBag.registration_success"
		if (success) {
			swal.fire({
				text: success,
				icon: "success",
				buttonsStyling: false,
				confirmButtonText: "Ok!",
				customClass: {
					confirmButton: "btn font-weight-bold btn-light-primary"
				}
			}).then(function() {
			KTUtil.scrollTop();
			});
		}

		var first = $(location).attr('pathname');
		first.indexOf(1);
		first.toLowerCase();
		first = first.split("/")[1];
		var edit_save = document.getElementById("language");
		if(first == "en") 
			edit_save.src = "~/media/svg/flags/226-united-states.svg";   
		else
			edit_save.src = "~/media/svg/flags/004-indonesia.svg";
		</script>
	</body>
	<!--end::Body-->
</html>