@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = @Localizer["Title"];
    var detil = ViewBag.vendor_data;
    var log_vendor = detil.temp_log_vendor_status;
}
<!--begin::Main Content-->

@if (ViewBag.controller == "ChangeVendor" && !string.IsNullOrEmpty(ViewBag.verification_status))
{
    <div class="alert alert-custom alert-notice alert-default fade show" role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">
            Status: @ViewBag.verification_status
            @if (!string.IsNullOrEmpty(ViewBag.verification_note))
            {
                <div><br>Note: @ViewBag.verification_status_note</div>
            }
        </div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="ki ki-close"></i></span>
            </button>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-custom mt-5 mb-5">
            <div class="card-header">
                <h3 class="card-title">@Localizer["Title"]</h3>
                <div class="card-toolbar">
                    <div class="card-toolbar">
                        <button type="button" class="btn btn-primary font-weight-bolder ml-3" data-toggle="modal" data-target="#logModal">
                            <i class="flaticon2-list-2"></i> @Localizer["LogActivity"]
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_DetilVendor" view-data="ViewData">
    </div>
</div>
<div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Localizer["LogActivity"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" style="height: 400px;">
                <div class="timeline timeline-2 mt-3 mb-3 ml-5 mr-3">
                    <div class="timeline-bar"></div>
                    @if (log_vendor.Count == 0)
                    {
                        <div class="timeline-item">
                            <div class="timeline-badge"><span class="bg-success"></span></div>
                            <div class="timeline-content">
                                @Localizer["LogNotAvailable"]
                            </div>
                        </div>
                    }
                    else
                    {
                        @foreach (var item in log_vendor)
                        {
                            <div class="timeline-item">
                                <div class="timeline-badge"><span class="bg-success"></span></div>
                                <div class="timeline-content">
                                    <span class="text-dark-75 font-weight-bold">@item.created_at</span><br />
                                    @item.verification_status<br />
                                    <p class="p-0" style="font-size: 0.9rem !important">
                                        <i class="flaticon2-user" style="font-size: 0.9rem !important"></i> @item.created_by_name
                                    </p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>
<!--end::Main Content-->